.Items {
  &__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 920px) {
    &__container {
      width: 100%;
    }
  }
}
